
nav a .active{border-bottom: 2px solid #ffff; /* Màu sắc của đường gạch dưới */
  padding-bottom: 8px; }

 
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px;
    z-index: 1000;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu li {
    margin: 5px 0;
  }
  