<!-- 


    
    <div class="bg-primary col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <a href="" class="btn btn-sm">about</a>
            <a href="" class="btn btn-sm">about</a>
            <a href="" class="btn btn-sm">about</a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <a href="" class="btn btn-sm">about</a>
            <a href="" class="btn btn-sm">about</a>
            <a href="" class="btn btn-sm">about</a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <a href="" class="btn btn-sm">about</a>
            <a href="" class="btn btn-sm">about</a>
            <a href="" class="btn btn-sm">about</a>
        </div>
        
    </div>
    


 -->
